body {
  margin: 0;
  padding: 0;
  font-family: "Motomachi", sans-serif;
  color: #333;
  line-height: 1.6;
}

main {
  max-width: 640px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  text-align: center;
}

.center {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 12px 0;
  padding: 4px 16px;
  text-decoration: none;
  background: #0984e3;
  color: #fff;
  border-radius: 4px;
}

.author {
  margin-bottom: 40px;
}
